html {
    ox-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Sans-Serif;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background-color: black;
    /*	padding-top: 5px!important;
*/
    /*padding-left: 10px!important;*/
}

li,
ul,
canvas,
body,
p,
td,
tr,
table {
    margin: 0;
    padding: 0;

}

a {
    color: white;
}
#abecedario{
    order: 0;
    width: 100vw;
    height: 3vh;
    color: white;
    font-size: 1.618em;
    padding-left: 20px;
    padding-top: 15px;
}
#info {
    width: 100vw;
    height: 14vh;
    color: white;
    display: flex;
    order: 1;
    padding: 0;
    font-size: 1em;
    border-bottom: 1px solid #444;
    padding: 10px 10px 0px 10px;
    vertical-align: top;
    z-index: 3;
}

#info li {
    list-style-type: none;
    margin-bottom: 5px;
}

#info table {
    border: none;
    /*border: 1px solid white;*/
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
    table-layout: fixed;
}

#info td {
    vertical-align: top;
    padding-bottom: 2px;
}

#info tr {}

#letter {
    width: 10%;
    font-size: 6.854em;
    letter-spacing: -0.03em;
    padding-left: 10px;
}

#info1 {
    width: 12%;
    height: 100%;
    vertical-align: top;
    padding-right: 15px;
    padding-top: 10px;
}

#button {
    max-width: 100%;
    font-size: 1.6em;
    color: white;
    padding: 2px;
    margin-bottom: 5px;
}

#info2 {
    width: 22%;
    height: 100%;
    padding-left: 15px;
    padding-top: 10px;
    /*border-left: 1px solid white;*/
}

#info1 td .fix {
    width: 10% !important;
}

#play {
    width: 52%;
    height: 100%;
    padding-left: 0px;
    padding-right: 40px;
    text-align: right;
    font-size: 6.854em;
}

#selectLetter {
    width: 100%;
    font-size: 6.854em;
    color: #444;
    letter-spacing: -0.04em
}
#selectLetter p{
    padding-left: 5px;
}

#canvas {
    width: 100vw;
    height: 88vw;
    max-height: 90vh;
    order:2;
}

#buttonAbout {
    display: block;
    z-index: 4;
    position: absolute;
    bottom: 105px;
    right: 50px;
    font-size: 1.618em;
}


#buttonAbout span {
    height: 35px;
    width: 35px;
    position: relative;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    display: inline-block;
    line-height: 1.7em;
}

#about {
    position: absolute;
    display: none;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.618em;
    padding-top: 25px;
    padding-left: 25px;
    line-height: 1.25em;
}

#about ul {
    list-style-type: none;
    overflow: visible;
}

#about li {
    overflow: visible;
}

#about li:before {
    content: "–";
    display: inline-block;
    width: 0.75em;
    margin-left: -0.75em;
}


.active {
    display: flex !important;
}

#about .title {
    width: 22%;
    order: 0;
    margin-right: 25px;
}

#about .description {
    width: 30%;
    order: 1;
    margin-right: 25px;
}

.description a {
    color: black;
    text-decoration: underline;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#about .people {
    width: 33%;
    order: 2;
    margin-left: 120px
}

#buttonClose {
    z-index: 3;
    position: absolute;
    bottom: 55px;
    right: 50px;
    font-size: 1.618em;
    text-decoration: underline;
    cursor: pointer;
}


/*--MEDIA QUERIES*/
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    body {
        font-size: 16px;
    }

    #abecedario{
        margin-bottom: 5px;
        padding-left: 10px;
        font-size: 1em;
    }

    #info {
        flex-flow: row wrap;
        font-size: 0.382em;
        height: 20vh;
        padding-right: 15px;
    }

    #letter {
        width: 14%;
        order: 0;
        padding-left: 5px;
        height: auto;
        /*max-height: 50px;*/
    }

    #play {
        order: 1;
        width: 75%;
        padding-right: 0px;
        max-height: 50px;
        height: auto;
    }

    #info1 {
        display: block;
        width: 100%;
        order: 2;
        /*height: 35px;non so perchè il div non fitta il content*/
        height: auto;
        font-size: 1.618em;
    }

    #info1 col:first-child {
        width: 25%;
    }

    #info2 {
        display: block;
        width: 100%;
        max-width: 100%;
        order: 3;
        height: auto;
        padding-left: 0px;
        padding-top: 0px;
        font-size: 1.618em;
    }

    #info2 td {
        padding-right: 25px;
    }

    #selectLetter {
        /*font-size: 4.236em;*/
        line-height: 0.95em;
        padding-left: 0px;
    }

    #selectLetter p{
        padding-left: 0px!important;
    }

    #about {
        /*flex-direction: column;*/
        position: absolute;
        height: calc(100% - 12px);
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 1.618em;
        padding: 10px 0px 0px 10px;
    }

    #about ul {
        list-style-type: circle !important;
    }

    #about li:before {
        content: initial;
        width: 0px;
        margin-left: 0px;
    }

    #about .title {
        width: 100%;
        order: 0;
        margin-top: 75px;
    }

    #about .description {
        width: 100%;
        order: 1;
    }

    #about .people {
        width: 100%;
        order: 2;
        margin-left: 0px;
        margin-top: 20px;
    }

    #buttonAbout {
        bottom: 40px;
    }

    #buttonAbout span {
        line-height: 1.5em;
    }

    #buttonClose {
    	width: 100%;
    	height: 45px;
        z-index: 3;
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 1.618em;
        text-decoration: underline;
        cursor: pointer;
    }
}