body {
  /* più è alta la pagina body più ci metto a completare il disegno */
  height: 5000px;
  background: linear-gradient(
    to bottom, /* creo gradiente che va da nero in alto  a bianco in basso*/
    black,
    white
  );
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 100;
  padding: 25px 15px;
  text-shadow: 1px 1px 1px #333;
}

#star-svg { /* star si intende la lettera/tracciato che voglio disegnare*/
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px; /* se commento questi due valori non centra correttamente e tiene una dimensione più grande come risolvo?*/ 
  margin: -75px 0 0 -75px;
  
}